
<p id="notice"><%= notice %></p>

<%= link_to "Previous", @poem.prev, "data-rel" => "back" %>
<%= link_to "Next", @poem.next, "data-rel" => "next" %>

<link rel="prefetch" href="<%= poem_path(@poem.next) %>">

<div class="image">
  <%= image_tag "#{@poem.image}", class: "header-image" %>
</div>
<!--
  <h1><%#= @poem.title %></h1>
-->
<div class="poem">
  <%= @poem.content.html_safe %>
</div>

