
<p id="notice"><%= notice %></p>

<%= link_to "Previous", @poem.prev, "data-rel" => "back" %>
<%= link_to "Next", @poem.next "data-rel" => "next", "rel" => 'prefetch'%>

<p>
<%= image_tag @poem.image %>
</p>
<p>
  <strong>Title:</strong>
  <%= @poem.title %>
</p>

<p>
  <strong>Slug:</strong>
  <%= @poem.slug %>
</p>

<%= link_to 'Back', poems_path %>
